body{
    font-family: "League Spartan", sans-serif; 
    background-color: black;
    color: white;
}

h1,h2,h3,h4,h5,h6{

    font-family: "Saira Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
}

header {
    background-color: white;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    transition: opacity 0.5s ease;
}

.image-container img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover img.hover-image {
    opacity: 1;
}

.descripcion-tarjeta {
    height: 200px;
}

.bs-purpura{
    color: #8342ea;
}

.links{
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.links:hover{
    color: #8342ea;
}

.agotado {
    pointer-events: none;
    cursor: default; 
    opacity: 0.5;
}

.btn-agotado{
    background-color:#8342ea;
}

.btn-cierre {
    filter: invert(100%);
}

.alto-caja{
    height: 70px;
}

.logo-vinilo {
    width: 100px;
    height: 107px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.boton-subir {
    font-size: 0px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/arrow-icono.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}